@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
  font-size: 14pt;
  margin: 0;
  padding: 0;

}

#container {
  display: grid;
  height: 100vh;
  width: 95vw;
  grid-template-columns: 8vw 40vw 40vw 8vw;
  grid-template-rows: 10% 15% 15% 15% 40%;
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

#top-div {
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  overflow: hidden;
}

#countryname {
  font-family: 'Raleway', sans-serif;
  color: #ffc043;
  text-transform: uppercase;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 30pt;
}

#title {
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 13pt;
  text-align: center;
}

#stats-div {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
  display: flex;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 100vh;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  max-height: 60%;
}

#stats-second-div {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
  display: flex;
  grid-template-columns: 50vw 50vw;
  grid-template-rows: 100vh;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
}

#bottom-div {
  grid-column: 2 / span 2;
  grid-row: 4 / span 1;
  overflow: visible;
}

#container img {
  height: 50%;
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#first-stat {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2%;
  padding: 0;
  max-height: 134px;
}

#second-stat {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2%;
  padding: 0;
  max-height: 134px;
}

#third-stat {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0;
}

#fourth-stat {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: 0;
}

#covid-info {
  background-color: rgba(0, 0, 0, 0.48);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), 0 5px 10px -3px rgba(0, 0, 0, 0.13);
  border-radius: 5%;
  backdrop-filter: hue-rotate(120deg);
  font-size: 16pt;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.stat-title {
  max-width: 100px;
  align-self: flex-start;
  padding: 0;
  margin: 0;
  color: #96acc0;
}

#firstdose {
  margin-top: 10%;
  color: #ffc043;
  font-family: 'Raleway', sans-serif;
  font-size: 20pt;
}

#fullyvaccinated {
  font-family: 'Raleway', sans-serif;
  margin-top: 10%;
  color: #ffc043;
  font-size: 20pt;
}

#totaldoses {
  margin-top: 10%;
  color: #ffc043;
  font-family: 'Raleway', sans-serif;
  font-size: 20pt;
}

#vaccinetype {
  font-family: 'Raleway', sans-serif;
  margin-top: 10%;
  color: #ffc043;
  font-size: 20pt;
}

#covid-info {
  background-color: #ffc043;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 3%;
}

#covid-info div{
  font-weight: bold;
}

#bottom-div {
  margin-top: 2em;
}