@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

body {
    background: #303239;
    margin: 0;
    padding-bottom: 8vh;
    font-family: 'Open Sans', sans-serif;
}

header {
    background: #303239;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 5;
}

section {
    margin: 0 auto;
    width: 90%;
}

#section-header {
    display: flex;
    color: white;
    height: fit-content;
    width: 100%;
    justify-content: center;
}

#section-header>h1 {
    width: 50%;
}

footer {
    background: black;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

#bottom-navbar {
    display: flex;
    flex-direction: row;
    height: 8vh;
    align-items: center;
    justify-content: space-around;
}

#bottom-navbar>a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.active {
    color: #FFC043 !important;
}

#search-bar {
    border-radius: 10px;
    width: auto;
    background: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 5vh;
    padding-top: 8px;
    padding-bottom: 8px;
}

#search-icon {
    margin-left: 5%;
}

input[type=text] {
    width: 100%;
    margin-top: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 19px;
    border: none;
    border-radius: 10px;
    text-align: center;
}

input[type=text]:focus {
    outline: none;
}

footer {
    font-family: 'Roboto', sans-serif;
    font-size: 11pt;
}

input:focus::placeholder{
    color: transparent;
}