#logo {
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 0;
}

#logo>img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    height: 75px;
    width: 75px;
}

/* #sort {
    display: flex;
    width: 50%;
    justify-content: end;
    height: fit-content;
    margin: auto 0;
}

#sort-icon {
    transform: translateY(-3px);
} */

.card {
    display: flex;
    height: 15vh;
    width: 100%;
    margin: 0 auto 3vh auto;
    border-radius: 10px;
    overflow: hidden;
    max-width: 500px;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.1);
}

.news-img {
    height: 100%;
    width: 40%;
}

.card-description {
    display: flex;
    background-color: white;
    width: 60%;
    height: 100%;
}

.news-title {
    font-weight: bold;
    height: fit-content;
    margin: auto 15px;
}

.card:active {
    opacity: 0.5;
    transform: translateY(4px);
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 40pt;
    text-align: center;
}